/*
 * Copyright 2013 Michal Turek
 *
 * This file is part of TODOs.
 * http://todos.sourceforge.net/
 *
 * TODOs is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 3 of the License.
 *
 * TODOs is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with TODOs.  If not, see <http://www.gnu.org/licenses/>.
 */


body
{
	font-family: Verdana, "Bitstream Vera Sans", Geneva, sans-serif;
	background-color: #CFDBE6;
	color: black;
	font-size: 10pt;
	text-align: justify;
	line-height: 1.6em;
	margin: 0px;
}

#logo		{ margin: 0em 5em 4em 5em; padding: 4em; background-color: white; }
#footer		{ margin: 2em 30% 1em 30%; clear: both; text-align: center; border-top: 1px solid gray; font-size: 9pt; }

#sidebar	{ width: 17%; padding-bottom: 2em; display: inline; float: left; text-align: center; }
#sidebar .img	{ margin-bottom: 2em; }
#page		{ margin: 0em 20% 3em 20%; }

#sidebar ul		{ margin-left: 0em; padding: 0px; }
#sidebar .label		{ font-weight: bold; }


p			{ margin-bottom: 1em; }
a, .m			{ color: blue; text-decoration: none; }
a:hover, .m:hover	{ text-decoration: underline; }
.blank:after		{ content: " " url("images/website/blank.gif"); }
.down:after		{ content: " " url("images/website/down.gif"); }
.active			{ font-weight: bold; }
.active:hover		{ text-decoration: none; }

.warn			{ color: red; font-weight: bold; }
.todo			{ /*color: red; font-weight: bold; */ }
.todo:before		{ /*content: "TODO: ";*/ }
.invalid_link		{ color: green; }
.cleaner		{ clear: both; }
.img			{ text-align: center; font-style: italic; }

pre
{
	font-family: Clean, "Courier New", Courier, monospace;
	text-align: left;
	line-height: 1.1em;
	overflow: auto;
	padding: 0.1em;
}

img			{ border: none; }

table			{ max-width: 100%; margin-bottom: 30px; }
tr			{ background-color: rgb(200,200,255); }
tr:hover		{ background-color: rgb(150,150,255); }
th, td			{ padding-left: 1em; padding-right: 1em; text-align: left; }
th			{ border: 1px solid rgb(180,180,180); background-color: rgb(170,170,255); }

